<p style="color: green"><%= notice %></p>

<%= render @test %>

<div>
  <%= link_to "Edit", edit_test_path(@test), class:"btn btn-secondary" %> 
  <%= link_to "Back", tests_path, class:"btn btn-dark" %>
<p></p>
  <%= button_to "Destroy this test", @test, method: :delete, class:"btn btn-secondary" %>
</div>
